# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore objects
*.o

# Ignore Makefile caches
.\#makefile\#

# Ignore JetBrains files
.idea

# Ignore all Latex files, expect source & rendered files
rapport
!rapport/*.pdf
!rapport/*.tex

# Ignore all VSCcde files
.vscode

!makefile
